# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Java and Maven build output
.mvn/
out/
target/
build/
*.class
${project.build.directory}/
.kotlin

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# OS files
.DS_Store

# Project-specific generated ignore file
NeetCode150/DSA/.gitignore
